[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible-core = "==2.16.2"
molecule-docker = "==2.1.0"

# Dependabot alers
cryptography = "==41.0.7"
urllib3 = "==2.1.0"

[dev-packages]

[requires]
python_version = "3.12"
